@import url('../../assets/base.css');

.adminPage_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    background: var(--background);
}

.adminPage_sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 5vw;
    background: var(--secondary);
}

.adminPage_sidebar_first_half {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 50%;
    width: 100%;
}

.adminPage_sidebar_icon_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 100%;
    margin: 1vh 0 1vh 0;
    cursor: pointer;
}

.adminPage_sidebar_icon_container i {
    color: var(--accent);
    font-size: 1.8em;
}

.adminPage_sidebar_icon_focus_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 100%;
    margin: 1vh 0 1vh 0;
    background: var(--background);
    cursor: pointer;
}

.adminPage_sidebar_icon_focus_container i {
    color: var(--accent);
    font-size: 1.8em;
}

.adminPage_sidebar_second_half {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 50%;
    width: 100%;
}

.adminPage_rest_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 95vw;
}

.adminPage_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    width: 100%;
}

.adminPage_header h1 {
    color: var(--text);
    font-size: 2.5em;
    letter-spacing: .2em;
    font-weight: 500;
    margin: 0 0 0 2vw;
}

.adminPage_header_search_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40vw;
    margin: 0 2vw 0 0;
}

.adminPage_header_search_container input {
    color: var(--text);
    font-size: 1em;
    letter-spacing: .1em;
    font-weight: 500;
    width: 40vw;
    height: 6vh;
    border-radius: 2em;
    border: none;
    outline: none;
    padding: 0 0 0 2vw;
    background: var(--secondary);
}

.adminPage_content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 80vh;
    width: 100%;
    overflow: hidden;
}

.adminPage_chart_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.adminPage_chart_first_values_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 20vh;
    width: 20vw;
    background: var(--accent);
    border-radius: 2em;
    position: absolute;
    top: 20vh;
    right: 2vw;
}

.adminPage_chart_first_values_container h1 {
    color: var(--background);
    font-size: 1.2em;
    letter-spacing: .1em;
    font-weight: 300;
    margin: 1vh 0 .5vh 0;
}

.adminPage_chart_first_values_container hr {
    width: 80%;
    border: 1px solid var(--background);
    margin: 0 0 1vh 0;
}

.adminPage_chart_first_values_container h2 {
    color: var(--background);
    font-size: 2em;
    letter-spacing: .1em;
    font-weight: 500;
    margin: 1vh 0 1vh 0;
}

.adminPage_chart_second_values_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 20vh;
    width: 20vw;
    background: var(--accent);
    border-radius: 2em;
    position: absolute;
    bottom: 5vh;
    right: 2vw;
}

.adminPage_chart_second_values_container h1 {
    color: var(--background);
    font-size: 1.2em;
    letter-spacing: .1em;
    font-weight: 500;
    margin: 1vh 0 1vh 0;
}

.adminPage_chart_second_values_container hr {
    width: 80%;
    border: 1px solid var(--background);
    margin: 0 0 1vh 0;
}

.adminPage_chart_second_values_container h2 {
    color: var(--background);
    font-size: 2em;
    letter-spacing: .1em;
    font-weight: 500;
    margin: 1vh 0 1vh 0;
}

.adminPage_chart_third_values_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 20vh;
    width: 20vw;
    background: var(--accent);
    border-radius: 2em;
    position: absolute;
    bottom: 5vh;
    left: 8vw;
}

.adminPage_chart_third_values_container h1 {
    color: var(--background);
    font-size: 1.2em;
    letter-spacing: .1em;
    font-weight: 500;
    margin: 1vh 0 1vh 0;
}

.adminPage_chart_third_values_container hr {
    width: 80%;
    border: 1px solid var(--background);
    margin: 0 0 1vh 0;
}

.adminPage_chart_third_values_container h2 {
    color: var(--background);
    font-size: 2em;
    letter-spacing: .1em;
    font-weight: 500;
    margin: 1vh 0 1vh 0;
}

.adminPage_chart_final_values_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 20vh;
    width: 20vw;
    background: var(--accent);
    border-radius: 2em;
    position: absolute;
    top: 20vh;
    left: 8vw;
}

.adminPage_chart_final_values_container h1 {
    color: var(--background);
    font-size: 1.2em;
    letter-spacing: .1em;
    font-weight: 500;
    margin: 1vh 0 1vh 0;
}

.adminPage_chart_final_values_container hr {
    width: 80%;
    border: 1px solid var(--background);
    margin: 0 0 1vh 0;
}

.adminPage_chart_final_values_container h2 {
    color: var(--background);
    font-size: 2em;
    letter-spacing: .1em;
    font-weight: 500;
    margin: 1vh 0 1vh 0;
}

.adminPage_addUsers_whole {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100vw;
}

.adminPage_addUsers_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 1vw 2vh 1vw;
    height: 80vh;
    width: 90vw;
    background: var(--secondary);
    border-radius: 0 0 1em 1em;
    overflow-y: auto;
}

.adminPage_addUsers_tabs_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 8vh;
    width: 100%;
    background: var(--background);
    border-bottom: 2px solid var(--accent);
}

.adminPage_addUsers_tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 12vw;
    margin-right: 1vw;
    border-radius: 1em 1em 0 0;
    cursor: pointer;
    background: var(--background);
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.adminPage_addUsers_selected_tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 12vw;
    margin-right: 1vw;
    border-radius: 1em 1em 0 0;
    cursor: pointer;
    background: var(--secondary);
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateX(0);
}

.adminPage_addUsers_tabs h1 {
    color: var(--text);
    font-size: 1.2em;
    letter-spacing: .1em;
    font-weight: 400;
}

.adminPage_addUsers_selected_tabs h1 {
    color: var(--text);
    font-size: 1.2em;
    letter-spacing: .1em;
    font-weight: 400;
}

.adminPage_addUsers_main_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 70vh;
    width: 100%;
    overflow-x: hidden;
}

.adminPage_addUsers_main_content_top {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    height: 10vh;
    width: 90vw;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.adminPage_addUsers_main_content_top button {
    color: var(--background);
    font-size: 1.2em;
    letter-spacing: .1em;
    font-weight: 500;
    width: 12vw;
    height: 7vh;
    border-radius: .5em;
    border: none;
    outline: none;
    background: var(--primary);
    cursor: pointer;
    margin: 2vh 2vw 2vh 0;
}

.adminPage_addUsers_main_content_bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 60vh;
    width: 100vw;
    overflow-y: auto;
}

.adminPage_addUsers_batches_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    height: 5vh;
    width: 88vw;
    border-radius: .5em;
    margin: 1vh 1vw 1vh 1vw;
    background: var(--background);
}

.adminPage_addUsers_batches_year_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40vw;
    border-radius: 1em 0 0 1em;
}

.adminPage_addUsers_batches_year_container h1 {
    color: var(--text);
    font-size: 1.2em;
    letter-spacing: .1em;
    font-weight: 500;
}

.adminPage_addUsers_batches_count_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30vw;
}

.adminPage_addUsers_batches_count_container h1 {
    color: var(--text);
    font-size: 1.2em;
    letter-spacing: .1em;
    font-weight: 500;
}

.adminPage_addUsers_batches_enter_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 10vw;
}

.adminPage_addUsers_batches_enter_container button {
    color: var(--text);
    letter-spacing: .1em;
    font-weight: 500;
    width: 8vw;
    height: 5vh;
    border-radius: .5em;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.adminPage_addUsers_batches_enter_container i {
    color: var(--text);
    font-size: 1.4em;
}

.adminPage_addUsers_batches_delete_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 10vw;
    border-radius: 0 1em 1em 0;
}

.adminPage_addUsers_batches_delete_container button {
    color: var(--text);
    letter-spacing: .1em;
    font-weight: 500;
    width: 8vw;
    height: 5vh;
    border-radius: .5em;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.adminPage_addUsers_batches_delete_container i {
    color: var(--text);
    font-size: 1.5em;
}

.adminPage_addUsers_batches_inside_modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 36vw;
}

.input_group {
    position: relative;
}
   
.input {
    border: solid 1.5px var(--accent);
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text);
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}
   
.user_label {
    position: absolute;
    left: 15px;
    color: var(--text);
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}
   
.input:focus, input:valid {
    outline: none;
    border: 1.5px solid var(--accent);
}
   
.input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: var(--background);
    padding: 0 .2em;
    color: var(--accent);
}

.adminPage_addUsers_batches_inside_modal_button_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 36vw;
    margin: 2vh 0 0 0;
}

.adminPage_addUsers_batches_inside_modal_add_button {
    color: var(--background);
    font-size: 1.2em;
    letter-spacing: .1em;
    font-weight: 500;
    width: 12vw;
    height: 7vh;
    border-radius: .5em;
    border: none;
    outline: none;
    background: var(--primary);
    cursor: pointer;
    margin: 0 2vw 0 0;
}

.adminPage_addUsers_batches_inside_modal_cancel_button {
    color: var(--text);
    font-size: 1.2em;
    letter-spacing: .1em;
    font-weight: 500;
    width: 12vw;
    height: 7vh;
    border-radius: .5em;
    border: none;
    outline: none;
    border: 1px solid red;
    cursor: pointer;
    background: none;
}

.adminPage_addUsers_batches_delete_inside_modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 36vw;
}

.adminPage_addUsers_batches_delete_inside_modal h1 {
    color: var(--text);
    font-size: 1.2em;
    letter-spacing: .1em;
    font-weight: 500;
    margin: 0 0 2vh 0;
}

.adminPage_addUsers_batches_delete_inside_modal_button_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 36vw;
    margin: 2vh 0 0 0;
}

.adminPage_addUsers_batches_delete_inside_modal_delete_button {
    color: var(--background);
    font-size: 1.2em;
    letter-spacing: .1em;
    font-weight: 500;
    width: 12vw;
    height: 7vh;
    border-radius: .5em;
    border: none;
    outline: none;
    background: red;
    cursor: pointer;
    margin: 0 2vw 0 0;
}

.adminPage_addUsers_batches_delete_inside_modal_cancel_button {
    color: var(--text);
    font-size: 1.2em;
    letter-spacing: .1em;
    font-weight: 500;
    width: 12vw;
    height: 7vh;
    border-radius: .5em;
    border: none;
    outline: none;
    border: 1px solid red;
    cursor: pointer;
    background: none;
}

.adminPage_addUsers_mentor_modal_inside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 65vh;
    width: 66vw;
}

.adminPage_addUsers_mentor_modal_inside_tabs_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 5vh;
    width: 100%;
}

.adminPage_addUsers_mentor_modal_inside_tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 12vw;
    margin-right: 1vw;
    border-radius: 1em 1em 0 0;
    cursor: pointer;
    transition: border-bottom 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.adminPage_addUsers_mentor_modal_inside_tabs h1 {
    color: var(--text);
    font-size: 1em;
    letter-spacing: .1em;
    font-weight: 400;
}

.adminPage_addUsers_mentor_modal_inside_selected_tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 12vw;
    margin-right: 1vw;
    border-radius: 1em 1em 0 0;
    cursor: pointer;
    border-bottom: 1px solid var(--accent);
    transition: border-bottom 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateX(0);
}

.adminPage_addUsers_mentor_modal_inside_selected_tabs h1 {
    color: var(--text);
    font-size: 1em;
    letter-spacing: .1em;
    font-weight: 400;
}

.adminPage_addUsers_mentor_modal_inside_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 60vh;
    width: 100%;
    overflow: hidden;
}

.adminPage_addUsers_mentor_modal_inside_content_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.adminPage_addUsers_mentor_modal_inside_content_bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 50vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.adminPage_addUsers_mentor_modal_inside_mentor_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 6vh;
    width: 100%;
    margin: 1vh 0 1vh 0;
    border-radius: .5em;
    background: var(--secondary);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.adminPage_addUsers_mentor_index_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 6vw;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    border-radius: .5em 0 0 .5em;
}

.adminPage_addUsers_mentor_index_container h1 {
    color: var(--text);
    font-size: 1em;
    font-weight: 400;
}

.adminPage_addUsers_mentor_id_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 12vw;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.adminPage_addUsers_mentor_id_container h1 {
    color: var(--text);
    font-size: 1em;
    font-weight: 400;
}

.adminPage_addUsers_mentor_name_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 22vw;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.adminPage_addUsers_mentor_name_container h1 {
    color: var(--text);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}

.adminPage_addUsers_mentor_email_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20vw;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.adminPage_addUsers_mentor_email_container h1 {
    color: var(--text);
    font-size: 1em;
    font-weight: 400;
}

.adminPage_addUsers_mentor_delete_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 5vw;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    border-radius: 0 .5em .5em 0;
    cursor: pointer;
}

.adminPage_addUsers_mentor_CSV_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 10%;
    margin: 1vh 0 1vh 0;
}
  
.adminPage_addUsers_mentor_CSV_top button {
    height: 5vh;
    width: 15vw;
    background: var(--primary);
    color: var(--background);
    font-size: 1em;
    border: none;
    border-radius: .5em;
    margin: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
  
.adminPage_addUsers_mentor_CSV_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    margin: 1vh 0 1vh 0;
}
  
.adminPage_addUsers_mentor_CSV_main_form {
    height: 40vh;
    width: 30vw;
    border-radius: 1em;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
    background-color: rgba(0, 110, 255, 0.041);
}
  
.adminPage_addUsers_mentor_CSV_main_form_header {
    flex: 1;
    width: 100%;
    border: 2px dashed var(--accent);
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  
.adminPage_addUsers_mentor_CSV_main_form_header svg {
    height: 100px;
}
  
.adminPage_addUsers_mentor_CSV_main_form_header p {
    text-align: center;
    color: black;
}
  
.adminPage_addUsers_mentor_CSV_main_form_footer {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
}
  
.adminPage_addUsers_mentor_CSV_main_form_footer svg {
    height: 130%;
    fill: var(--accent);
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}
  
.adminPage_addUsers_mentor_CSV_main_form_footer p {
    flex: 1;
    text-align: center;
}
  
.file {
    display: none;
}